<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="./{pizza.id}/">
    <title>{pizza.getName()}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Einzelpreis</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{pizza.getName()}</td>
                    <td>{pizza.getBeschreibung()}</td>
                    <td>{pizza.getEinzelpreis()}</td>
                    <td>{pizza.id}</td>
                </tr>
            </tbody>
        </table>
        <a href="./..">Alle Pizzen</a>
    </div>
</body>
</html>